/* GENERIC RESETS */
html {
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  /* Switch all top margins off to avoid margin collapse or grounding */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl {
    margin-top: 0;
  }

/* ACTUAL STYLES */
body {
    font-size: 1.6rem;
    margin: 0;
    min-height: 100vh;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentTemp__container {
    margin: 2rem auto;
    padding: 2.5rem;
    width: 50vw;
    min-width: fit-content;
    max-width: 60vw;
    background-color: #fbfbfb;
    border-radius: .75rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.searchBar__container {
    margin-bottom: 1rem;
}

.cityInput {
    background-color: #efefef;
}

.cityInput, .searchBtn {
    padding: .5rem;
    border-radius: .3rem;
    border: none;
    outline: none;
}

.cityInput:hover {
    background-color: #dfdfdf;
}

.cityInput:focus{
    outline: .25rem solid #f08732;
}

.searchBtn:hover {
    background-color: #f08732;
    color: white;
    cursor: pointer;
}

.weatherData__container {
    padding: 1.5rem;
    text-align: center;
    align-items: center;
}

.weatherData__container p {
    margin-bottom: 0;
}